#ad-space .drupal {
 background-image: url(bg-ad-space.png);
 background-repeat: no-repeat;
 background-color: transparent;
}

#ad-space a:link{
 display:block;
 position: relative;
 height: 100%,
 width: 100%;
}

#ad-space #medium-rectangle {
 background-position: -1120px -620px;

}
#ad-space #square-pop-up {
 background-position: 0 -520px;

}
#ad-space #vertical-rectangle {
 background-position: -480px -520px;

}
#ad-space #large-rectangle {
 background-position: 0 -790px;

}
#ad-space #rectangle {
 background-position: -274px -520px;

}
#ad-space #three-to-one-rectangle {
 background-position: -1120px -880px;

}
#ad-space #pop-under {
 background-position: 0 -120px;

}
#ad-space #full-banner {
 background-position: 0 -440px;

}
#ad-space #half-banner {
 background-position: -480px -440px;

}
#ad-space #micro-bar {
 background-position: -274px -689px;

}
#ad-space #vertical-banner {
 background-position: -800px -620px;

}
#ad-space #leaderboard {
 background-position: 0 0;

}
#ad-space #wide-skyscraper {
 background-position: -940px 0;

}
#ad-space #skyscraper {
 background-position: -800px 0;

}
#ad-space #half-page-ad {
 background-position: -1120px 0;

}