.simplead-container.html5-banner-ad {
  display:block;
}
.html5-banner-ad>a {
  display: block;
  width: 100%;
  height: 100%;
  text-indent: -9000px;
  top: 0px;
  bottom: 0px;
  position: absolute;
}
.simplead-container.html5-banner-ad iframe.html-banner{
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  overflow-y: hidden;
  overflow-x: hidden;
}
.simplead-container.html5-banner-ad iframe.html-banner body{
    margin: 0 !important;
    padding: 0 !important;
}
