/* Custom fix file */

.region-preface-1 hr, .region-preface-2 hr, .region-preface-3 hr {
    border: none;
    height: 0px;
    margin-bottom: 0px !important;
}

.site-logo {
    margin: 0 auto;
    width: 105%;
}

.most-read-title h3.title {
	text-align: center;
}

/* TKS-65: iPhone text issues */
body {
    -webkit-text-size-adjust: 100%;
}
body.mobile.ios .node .content {
    -webkit-text-size-adjust: 150%;
}

.quicktabs_main.quicktabs-style-nostyle {
    background-color: transparent;
    border: none;
}
.quicktabs_main.quicktabs-style-nostyle#quicktabs-container-most_read {
    padding: 10px 0;
}


.region-content .most-read-title .block-inner {
     /* padding: 6px !important; */
}


.most-read-title .title, .mr-headline {
  font-size: 200%;
  padding: 5px 0 10px 0;
}

ul.quicktabs-tabs.quicktabs-style-nostyle li.active {
  margin-left: 0px !important;
}

ul.quicktabs-tabs.quicktabs-style-nostyle li {

  margin: 0 0px 0 10px;
}

.leaderboard {
    margin-top: 10px;
}

.adServeMargin, .adServeMargin .block-inner {
    padding: 0px !important;
    border: 0 !important;
    background: none !important;
    box-shadow: none !important;
    text-align: center;
}

img.adCenter {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

*{
	box-sizing:border-box;
}
.view-slideshow .views_slideshow_main .views-field-title{
width: 575px;
}
.view-slideshow .views_slideshow_main .views-field-body{
width: 575px;
}

.view-slideshow .views_slideshow_main .views-field-title{
	bottom: 50px !important;
}

.view-slideshow .views_slideshow_main .views-field-body {
    font-size: 13px;
    height: 60px !important;
}

.view-slideshow .views_slideshow_main{height: 360px !important;}

.poll .total{display:none;}

ul.pager-for-content-type {
    margin: auto;
    padding: 0px 20px;
    text-align: center;
}
ul.pager-for-content-type li {
    display: inline;
    border: none;
}
ul.pager-for-content-type li a {
    font-weight: normal;
}

.item-list ul.pager li {
  display: inline-block;
}
.node-teaser .content .field-name-body {
    color: #000000;
}

@media only screen and (max-width: 479px) {
	.slideshow-wrapper-inner .block{
	min-height:225px;
}

p {
  line-height: 30px;
}


.view-slideshow .views_slideshow_main .views-field-title{
	bottom: 0px !important;
}
}


@media only screen and (max-width: 767px) {


#slideshow .block-inner h3.title{
	padding-left:15px;
        margin-left: 0;
        margin-top: 0;
}
.view-slideshow .views_slideshow_main .views-field-field-image img, 
.view-slideshow .views_slideshow_main .views-field-field-video img{
	width:100% !important;
	height:auto !important;
	max-width:inherit !important;
}
.view-slideshow .views_slideshow_main .views-field-field-image{
	position:static !important;
}
.view-slideshow .views_slideshow_main .views-slideshow-cycle-main-frame-row{
	width:100% !important;
}
.view-slideshow .views_slideshow_main .views-field-title{
	width:100% !important;
	height:auto !important;
}
.view-slideshow .views-slideshow-cycle-main-frame-row-item{
	height:auto !important;
}
.views-slideshow-controls-bottom{
	margin-bottom: 12px;
}
.slideshow-wrapper-inner .block{
	display:inline-block;
	width:100%;
}
#slideshow .block{
	border:none !important;
	box-shdow:none !important;
	-webkit-box-shdow:none !important;
	-moz-box-shdow:none !important;
}

img {
    max-width: 100%;
}
.views-slideshow-cycle-main-frame-row {
    width: 100% !important;
}
.view-slideshow .views_slideshow_main .views-field-title {
    width: 100% !important;
}
.view-slideshow .views_slideshow_main .views-field-body {
    display: none;
}

.views-slideshow-controls-bottom.clearfix {
    display: block !important;
}
.view-slideshow .views_slideshow_main {height: auto !important;}
.view-slideshow .views_slideshow_main .views-field-field-image img{height:auto;}
.views-slideshow-controls-bottom.clearfix{position:relative;z-index:9999;}

.view-slideshow .views-slideshow-controls-bottom .views-field-field-image img, .view-slideshow .views-slideshow-controls-bottom .views-field-field-video img {
    height: auto !important;
    margin: 0 4px !important;
    max-width: 13.66%;
    width: 100% !important;
}	

}
@media only screen and (min-width: 480px) and (max-width: 579px) {
.slideshow-wrapper-inner .block{
	min-height:320px;
}

.view-slideshow .views_slideshow_main .views-field-title{
	bottom: 10px !important;
}
}

@media only screen and (min-width: 480px) and (max-width: 767px) {
.view-slideshow .views_slideshow_main {
 height: auto !important;
}
.views-slideshow-controls-bottom {
    margin-bottom: 12px;
}
}
@media only screen and (min-width: 580px) and (max-width: 640px) {
.slideshow-wrapper-inner .block{
	min-height:370px;
}
}
@media only screen and (min-width: 641px) and (max-width: 767px) {
.slideshow-wrapper-inner .block{
	min-height:430px;
}
}
@media only screen and (min-width: 768px) and (max-width: 959px) {



.view-slideshow .views_slideshow_main { 
  height: 230px !important;
}

.view-slideshow .views_slideshow_main .views-field-title{
	 margin-bottom: 0px !important;
}
.view-slideshow .views-field views-field-title span{
    padding-top:25px;
}

}

@media only screen and (min-width:768px) and (max-width:959px){



.view-slideshow .views_slideshow_main .views-field-title{
	  width: 99.5%;
	      bottom: 60px !important;
}
.view-slideshow .views_slideshow_main .views-field-body{

  	  width: 99.5%;;
}
}
@media only screen and (min-width:960px) {

.node .content {
    font-size: 26px;
    line-height: 28px;
}

.node-teaser h2.title {
    font-size: 22px;
}

.ad {
    /* width: 605px;
    margin-left: -24px; */
    text-align: center;
}

.adFeedLeft {
    float: left;
}

.adFeedRight {
    float: right;
    padding-left: 3px;
}

.view-slideshow .views_slideshow_main .views-field-body {
    bottom: -60px !important;
}
.view-slideshow .views_slideshow_main .views-field-title{
	 bottom: -10px !important;
}
}
@media only screen and (max-width:767px){
.view-slideshow .views_slideshow_main .views-field-title{
	  bottom: 0 !important;
    margin: 0 !important;
}

}
@media only screen and (min-width: 768px) and (max-width: 959px) {
  .view-slideshow .views_slideshow_main .views-field-body {
    font-size: 13px;
    height: 72px !important;
}
.view-slideshow .views_slideshow_main .views-field-title {
    bottom: 72px !important;
    width: 99.5%;
}
.view-slideshow .views_slideshow_main .views-field-field-image img, .view-slideshow .views_slideshow_main .views-field-field-video img{
        height:auto;
        width:100%;
    }
.view-slideshow .views-slideshow-controls-bottom .views-field-field-image img, .view-slideshow .views-slideshow-controls-bottom .views-field-field-video img {
    height: auto;
    width: 12.9%;
}
.view-slideshow .views_slideshow_main {
    height: 230px !important;
    overflow: hidden;
}
.node-teaser .field-name-field-image img{
        margin-bottom:10px;
    }
.views-field .field-content p{
 padding-bottom:0px
}
}

.block.block-dfp img {
    max-width: 100%;
}