*{
	box-sizing:border-box;
}

.view-slideshow .views_slideshow_main .views-field-title{
	bottom: 50px !important;
}

.view-slideshow .views_slideshow_main .views-field-body {
    font-size: 13px;
    height: 60px !important;
}

@media only screen and (max-width: 479px) {
	.slideshow-wrapper-inner .block{
	min-height:225px;
}
}


@media only screen and (max-width: 767px) {
#slideshow .block-inner h3.title{
	padding-left:15px;
        margin-left: 0;
        margin-top: 0;
}
.view-slideshow .views_slideshow_main .views-field-field-image img, 
.view-slideshow .views_slideshow_main .views-field-field-video img{
	width:100% !important;
	height:auto !important;
	max-width:inherit !important;
}
.view-slideshow .views_slideshow_main .views-field-field-image{
	position:static !important;
}
.view-slideshow .views_slideshow_main .views-slideshow-cycle-main-frame-row{
	width:100% !important;
}
.view-slideshow .views_slideshow_main .views-field-title{
	width:100% !important;
	height:auto !important;
}
.view-slideshow .views-slideshow-cycle-main-frame-row-item{
	height:auto !important;
}
.views-slideshow-controls-bottom{
	margin-bottom: 12px;
}
.slideshow-wrapper-inner .block{
	display:inline-block;
	width:100%;
}
#slideshow .block{
	border:none !important;
	box-shdow:none !important;
	-webkit-box-shdow:none !important;
	-moz-box-shdow:none !important;
}

img {
    max-width: 100%;
}
.views-slideshow-cycle-main-frame-row {
    width: 100% !important;
}
.view-slideshow .views_slideshow_main .views-field-title {
    width: 100% !important;
}
.view-slideshow .views_slideshow_main .views-field-body {
    display: none;
}

.views-slideshow-controls-bottom.clearfix {
    display: block !important;
}
.view-slideshow .views_slideshow_main {height: auto !important;}
.view-slideshow .views_slideshow_main .views-field-field-image img{height:auto;}
.views-slideshow-controls-bottom.clearfix{position:relative;z-index:9999;}

.view-slideshow .views-slideshow-controls-bottom .views-field-field-image img, .view-slideshow .views-slideshow-controls-bottom .views-field-field-video img {
    height: auto !important;
    margin: 0 4px !important;
    max-width: 13.66%;
    width: 100% !important;
}	

}
@media only screen and (min-width: 480px) and (max-width: 579px) {
.slideshow-wrapper-inner .block{
	min-height:320px;
}
}

@media only screen and (min-width: 480px) and (max-width: 767px) {
.view-slideshow .views_slideshow_main {
 height: auto !important;
}
.views-slideshow-controls-bottom {
    margin-bottom: 12px;
}
}
@media only screen and (min-width: 580px) and (max-width: 640px) {
.slideshow-wrapper-inner .block{
	min-height:370px;
}
}
@media only screen and (min-width: 641px) and (max-width: 767px) {
.slideshow-wrapper-inner .block{
	min-height:430px;
}
}