#mm0 {
  margin-top: 14px;	
  border-radius: 2px;
  border: 0;
}

/** 

Note: Design for a width of 768px

**/

@media only screen and (min-width: 768px) and (max-width: 959px) {

.header-wrapper-inner {
  background: 0;	
}

.header-wrapper .ad {
  display: none;	
}

.page-node .field-name-field-image img {

  width: 446px;
  height: auto;	
}
#block-system-main  .field-name-field-image img, .responsive-images-custom-block .node-teaser  .field-name-field-image img {
  width: 100%;
  height: 100%;
}
.page-node .field-name-field-video iframe {
  width: 446px;
  height: 300px;	
}

.node .content img {
  max-width: 446px;
  max-height: auto;	
}

#main-menu ul.menu li a {
  font-size: 12px;	
}

.region-first-ad img, .region-second-ad img {
  width: 236px;
  height: auto;
}

/* SLIDESHOW 
--------------------------------------------------------------------------*/

.view-slideshow .views_slideshow_main {	
  height: 230px;
}

.view-slideshow .views-slideshow-cycle-main-frame-row-item {
  position: relative;
  height: 230px;	
}

.view-slideshow .views_slideshow_main .views-field-field-image img, .view-slideshow .views_slideshow_main .views-field-field-video img {
  width: 448px;
  height: 230px;
}

.view-slideshow .views_slideshow_main .views-field-title {
  width: 408px;
}

.view-slideshow .views_slideshow_main .views-field-body {
  width: 408px; 
  font-size: 11px;
}


/* Slideshow controls */

.view-slideshow .views-slideshow-controls-bottom .views-field-field-image img, .view-slideshow .views-slideshow-controls-bottom .views-field-field-video img {
  width: 54px;
  height: 35px;
}

/* Video Featured */

.view-featured-view iframe {
  width: 191px;	
  height: 120px;
}

ul.quicktabs-tabs.quicktabs-style-nostyle li {
}
	
}

/** 
Note: Design for a width of 300px
**/

@media only screen and (max-width: 767px) {	

.site-logo img {
 /*  width: 250px; */
  height: auto;	
}

.header-wrapper-inner {
  background: 0;	
}

.header-wrapper .ad {
  display: none;	
}

.node-teaser .field-name-field-image img {
  float: none;
  margin: 0 0 20px 0;
  width: 100% !important;
}

.node-teaser .node-content-wrapper {
  margin-left: 0px;
}

.node-teaser .field-name-field-video iframe {
  float: none;
  width: 256px;
  height: 160px;
  margin: 0 0 20px 0;
}

.page-node .field-name-field-image img {
  width: 256px;
  height: auto;	
}
#block-system-main  .field-name-field-image img, .responsive-images-custom-block .node-teaser  .field-name-field-image img {
  width: 100%;
  height: 100%;
}
.page-node .field-name-field-video iframe {
  width: 256px;
  height: 200px;	
}

.node .content img {
  /* max-width: 240px; */
  max-height: auto;	
}

#search-block-form .form-text {
  width: 120px;
}

/* SLIDESHOW 
--------------------------------------------------------------------------*/

.social-links li a {
  padding-left: 0px;
  padding-right: 1px;
}

.view-slideshow .views_slideshow_main {	
  height: 133px;
}

.view-slideshow .views-slideshow-cycle-main-frame-row-item {
  height: 133px;	
}

.view-slideshow .views_slideshow_main .views-field-field-image img, .view-slideshow .views_slideshow_main .views-field-field-video img {
  width: 256px;
  height: auto;
}

.view-slideshow .views_slideshow_main .views-field-title {
  width: 216px;
  bottom: 0;
}

.view-slideshow .views_slideshow_main .views-field-body {
  display: none;
}


/* Slideshow controls */

.view-slideshow .views-slideshow-controls-bottom .views-field-field-image img, .view-slideshow .views-slideshow-controls-bottom .views-field-field-video img {
  width: 22px;
  height: 15px;
}

/* Video Featured */

.view-featured-view iframe {
  width: 260px;	
  height: 180px;
}

	
}

/** 
Note: Design for a width of 420px
**/

@media only screen and (min-width: 480px) and (max-width: 767px) {

.header-wrapper-inner {
  background: 0;	
}

.header-wrapper .ad {
  display: none;	
}

.node .content img {
  /* max-width: 376px; */
  max-height: auto;	
}
	
.node-teaser .field-name-field-image img {
  float: left;
  margin: 0 20px 0 0;
  width: 100% !important;
}

.node-teaser .field-name-field-video iframe {
  float: none;
  width: 376px;
  height: 220px;
  margin: 0 0 20px 0;
}

.page-node .field-name-field-image img {
  width: 376px;
  height: auto;	
}
#block-system-main  .field-name-field-image img, .responsive-images-custom-block  .node-teaser  .field-name-field-image img{
  width: 100%;
  height: 100%;
}
.page-node .field-name-field-video iframe {
  width: 376px;
  height: 300px;	
}

/* SLIDESHOW 
--------------------------------------------------------------------------*/

.view-slideshow .views_slideshow_main {	
  height: 195px;
}

.view-slideshow .views-slideshow-cycle-main-frame-row-item {
  height: 195px;	
}

.view-slideshow .views_slideshow_main .views-field-field-image img, .view-slideshow .views_slideshow_main .views-field-field-video img {
  width: 376px;
  height: auto;
}

.view-slideshow .views_slideshow_main .views-field-field-image img {
   display: block;
   height: 195px;
}

.view-slideshow .views_slideshow_main .views-field-title {
  width: 336px;
  padding-bottom: 20px;
  bottom: 0;
}

.view-slideshow .views_slideshow_main .views-field-body {
}


/* Slideshow controls */

.view-slideshow .views-slideshow-controls-bottom .views-field-field-image img, .view-slideshow .views-slideshow-controls-bottom .views-field-field-video img {
  width: 42px;
  height: 25px;
}

/* Video Featured */

.view-featured-view iframe {
  width: 380px;	
  height: 220px;
}
	
}

.node-teaser .field-name-field-video iframe {
  display: block;
  float: left;
  margin: 0 20px 0 0;
}

/* For Advertisement Block: Leaderboard Top Ad Group */

#block-simpleads-ad-groups-157 .block-inner { background:none; border:none; padding: none; box-shadow:none;  -webkit-box-shadow: none; -moz-box-shadow: none;
    box-shadow: none;}

/* For Advertisement Block: Leaderboard Middle Ad Group */

#block-simpleads-ad-groups-158 .block-inner { background:none; border:none; padding: none; box-shadow:none;} 

/* For Sports Header Block */

#block-block-24 .block-inner { background:none; border:none; padding: none; box-shadow:none;} 

@media only screen and (max-width: 767px) {
	.views-slideshow-controls-bottom.clearfix{
		z-index:auto !important;
	}
	
}
@media only screen and (min-width: 768px) {
	.view-slideshow .views_slideshow_main .views-field-title{
		margin-bottom:10px;
	}
}
@media only screen and (min-width: 768px) and (max-width: 959px){
.view-slideshow .views_slideshow_main .views-field-body {
    font-size: 13px;
    height: 72px !important;
}
}