/* HTML 
--------------------------------------------------------------------------*/

.large-image img {
  width: 100% !important;
  padding-bottom: 20px;
}
 
.hide-image .views-row img {
display: none !important;
}

.hide-image .views-row-1 img {
display: inline !important;
}

.image-ad img {
display: inline !important;
width: 100%;
}

.sidebar-override {
    padding: 20px !important;
    border: 1px solid #ffffff !important;
    background: #f9f9f9 !important;
}

.sidebar-override .attachment {
    padding: 10px;
    background: #eee;
    border-radius: 5px;
}

.sidebar-override .views-row {
    margin-bottom: 0;
    padding: 2px 0;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #ddd;
    background: 0;
    border-radius: 0px;
    box-shadow: 0 0 0px #ddd;
}

.sidebar-override .views-row a {
    font-size: 12px;
    font-weight: bold;
}

.sidebar-override .views-row-1 {
    border-top: none !important;
}

.sidebar-override .views-row-last {
    border-bottom: none !important;
}

.inBody {

    margin: auto;
    width: 100%;
    border: none !important;
    box-shadow: none !important;
}


.adServeWidth {

   width: 300px;
}

.adServe img {

   width: 100%;
   height: 100%;
}

.inBody .block-inner {

    border: none !important;
}

.inFeed {
   max-width: 300px;
    margin: auto;
    width: 100%;
}

.form-text {
   max-width: 250px !important;

}
.content .item-list ul li .first a{
    color: #444444;
    font-size: 40px;
    font-weight: normal;
}

.trans-block .block-inner {
border: none !important;
background: transparent !important;

}
body {
  font-size: 12px;
  font-family:Arial, Helvetica, sans-serif;
  line-height: 1.5em;
  color: #444444;
  background: url(../images/style4/body_bg.png);
}
a { 
  font-weight: normal;
}

a:hover { 
  text-decoration: underline;
}

h1, h2, h3, h4, h5 {
  line-height: 1.0em; 
  font-weight: normal;
  text-transform: uppercase;
  font-family: 'Paytone One', 'Arial', sans-serif;
}

p {
  padding-bottom: 10px; 
  line-height: 35px;
}

table {
}

tr {
}

td {
  padding: 5px; 
  vertical-align: middle;
  border: 1px solid #dddddd;
}

/* HEADER 
--------------------------------------------------------------------------*/

.header-wrapper {
  background: url(../images/style4/header-wrapper-bg.png) left top repeat-x;
       -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
}

.header-wrapper-inner {
  /*height: 150px; */
  /*background: url(../images/style4/header-highlight.png) top center no-repeat;  */
}

.site-logo img {
  display: block;
  padding: 0 20px 2px 0;
  width: 100%;
}

hgroup h1, hgroup h1 a, hgroup h2, hgroup h2 a {
  color: #ffffff;
  padding: 40px 20px 5px 0; 
  font-size: 72px;
  text-transform: none;
}

hgroup h3 {
  color: #ffffff; 
  padding-left: 0px;
}

header {
  width: 100%;  
}

.logo-slogan {
  float: left;    
}

.header-wrapper .ad {
  float: right; 
  margin-top: 45px;
  width: 468px;
  height: 60px;
}

/* SLIDESHOW 
--------------------------------------------------------------------------*/

.view-slideshow {
}

.view-slideshow .views_slideshow_main { 
  margin-bottom: 20px;
  position: relative;
  height: 360px;
}

.view-slideshow .views-slideshow-cycle-main-frame-row-item {
  position: relative;
  height: 300px;  
}

.view-slideshow .views_slideshow_main .views-field-field-image {
  position: absolute;
}

.view-slideshow .views_slideshow_main .views-field-field-video {
  position: absolute;
}

.view-slideshow .views_slideshow_main .views-field-field-image img {
  display: block;
}

.view-slideshow .views_slideshow_main .views-field-title {
  position: absolute; 
  padding: 20px 20px 10px 20px;
  width: 536px;
  bottom: 70px;
  background: url(../images/style4/trans.png);
  color: #ffffff;
}

.view-slideshow .views_slideshow_main .views-field-title a {
  color: #ffffff;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: bold;
  font-size: 14px;
  font-family: 'Paytone One', 'Arial', sans-serif;
}

.view-slideshow .views_slideshow_main .views-field-body {
  position: absolute;
  height: 50px;
  line-height: 1.3em;
  width: 536px; 
  bottom: 0;
  padding: 0 20px 20px 20px;
  background: url(../images/style4/trans.png);
  color: #ffffff;
  text-shadow: -1px -1px #000000;
}


/* Slideshow controls */
.views-slideshow-pager-fields > div {
  padding: 0;
}
.view-slideshow .views-slideshow-controls-bottom .views-field-field-image img, .view-slideshow .views-slideshow-controls-bottom .views-field-field-video img {
  display: block;
  margin-right: 20px;
  float: left;
  opacity: 0.5;
  border: 2px solid #333333;
  box-shadow: 0 1px 3px #999999;
}

.view-slideshow .views-slideshow-controls-bottom .views-field-field-image img:hover, .view-slideshow .views-slideshow-controls-bottom .views-field-field-video img:hover  {
  opacity: 1;
  border: 2px solid #7e7e7e;
  cursor: pointer;
}

.view-slideshow .views-slideshow-controls-bottom .active .views-field-field-image img, .view-slideshow .views-slideshow-controls-bottom .active .views-field-field-video img  {
  opacity: 1;
}

.view-slideshow .views-slideshow-controls-bottom #views_slideshow_pager_field_item_bottom_slideshow-block_5 .views-field-field-image img, .view-slideshow .views-slideshow-controls-bottom #views_slideshow_pager_field_item_bottom_slideshow-block_5 .views-field-field-video img {
  margin-right: 0;  
}

#slideshow .block-inner h3.title {
  margin-bottom: 20px;
  margin-top: -20px;
  margin-left: -20px;
  font-size: 14px;
  text-shadow: 1px 1px #ffffff;
  background: #eeeeee;
  border-bottom: 1px solid #ffffff;
  border-right: 1px solid #ffffff;
}

#slideshow .block-inner h3.title span {
  display: block; 
  padding: 10px;  
  border-bottom: 1px solid #dddddd;
  border-right: 1px solid #dddddd;
}

/* PREFACE 
--------------------------------------------------------------------------*/

.preface-wrapper {
  border-bottom: 1px solid #eeeeee; 
}

#preface .block {
  margin-bottom: 20px;
  border: 1px solid #bbbbbb;  
  box-shadow: 0px 0px 5px #bbbbbb;
}

#preface .block-inner {
  padding: 20px;
  border: 1px solid #ffffff;
  background: #f9f9f9;  
  height: 100% !important;
}

#preface .thinblock .block-inner {
  padding: 0px !important;
  border: hidden !important;
  box-shadow: none !important;
  background: none !important;  
  height: 100% !important;
}

.block.block-block.thinblock {
  border: hidden !important;
  box-shadow: none !important;
}


.block.block-simpleads.thinblock {
  border: hidden !important;
  box-shadow: none !important;
}

.attachment-after .view-display-id-attachment_1 .view-content .hideFeed {
  display: none !important;
}


.hideFeed .block-inner {
  padding: 0px !important;
}

/* MAIN CONTENT 
--------------------------------------------------------------------------*/

.main-content-wrapper {
  margin-top: 20px; 
}

#main-content .block {
  margin-bottom: 20px;
  border: 1px solid #bbbbbb;  
  box-shadow: 0px 0px 5px #bbbbbb;
}

#main-content .block-inner {
  padding: 20px;
  border: 1px solid #ffffff;
  background: #f9f9f9;  
}
#main-content .block.block-simpleads{
  box-shadow: none;
  border: none;
}
#main-content .block.block-simpleads .block-inner{
  padding: 0;
}
#main-content .block.block-simpleads .block-inner img{
  width: 100%;
  max-width: none;
}

.region-first-ad p, .region-second-ad p {
  margin: 0;
  padding: 0;
}

#main-content .region-first-ad .block, #main-content .region-second-ad .block {
  margin-bottom: 20px;
  border: 0px solid #bbbbbb;  
  box-shadow: 0px 0px 0px #bbbbbb;
}

#main-content .region-first-ad .block-inner , #main-content .region-second-ad .block-inner {
  padding: 0;
  border: 0px solid #ffffff;
  background: 0;  
}

/* SIDEBARS 
--------------------------------------------------------------------------*/

.sidebar .block-inner h3.title, #preface .block-inner h3.title {
  margin-bottom: 20px;
  margin-top: -20px;
  margin-left: -20px;
  font-size: 14px;
  text-shadow: 1px 1px #ffffff;
  background: #eeeeee;
  border-bottom: 1px solid #ffffff;
  border-right: 1px solid #ffffff;
}

.sidebar .block-inner h3.title span, #preface .block-inner h3.title span {
  display: block; 
  padding: 10px;  
  border-bottom: 1px solid #dddddd;
  border-right: 1px solid #dddddd;
}


/* POSTSCRIPT 
--------------------------------------------------------------------------*/

.postscript-wrapper {
  padding: 20px 0;
  color: #dddddd;
  background: url(../images/style4/postscript-bg.png);  
  border-top: 20px solid #dddddd;
}

.postscript-wrapper a {
  color: #ffffff; 
  font-weight: normal;
}

.postscript-wrapper .block-inner h3.title {
  color: #eeeeee;
  margin-bottom: 20px;
  font-size: 14px;
  text-shadow: -1px -1px #000;
}

#postscript .item-list ul li {
  color: #7e7e7e;
}

#postscript .item-list ul li a {
  font-weight: normal;  
  color: #dddddd;
  font-size: 11px;
  text-transform: uppercase;
  text-shadow: -1px -1px #000;
}

/* FOOTER
--------------------------------------------------------------------------*/

.footer-wrapper {
  padding: 10px 0;
  color: #dddddd;
  background: #222222;
  text-align: center;
  border-top: 1px solid #333333;  
}

.footer-wrapper a {
  color: #ffffff;
}

/* LISTS 
--------------------------------------------------------------------------*/

.item-list ul {
  margin-left: 20px;  
}

.item-list ul li span {
  display: inline;
  font-size: 1.0em;
  padding: 0;
}

.item-list ul li {
  padding: 5px 0;
  list-style-position: outside;
  list-style-type: square;
  color: #999999;
  border-bottom: 1px dotted #999999;
}

.item-list ul li.last {
  border-bottom: 0px dotted #999999;
}

.item-list ul li a {
  padding: 0 5px;
  font-weight: bold;
}

.view-popular .item-list ul li {
  list-style-type: decimal;
}



#block-system-main-menu ul .menu li.expanded a.hover{
color:red;
}



/* USER MENU 
--------------------------------------------------------------------------*/

.user-menu-wrapper {
  background: url(../images/style4/user-menu-bg.png) left top repeat-x; 
}

#user-menu {
  height: 35px;
  line-height: 35px;
}

#user-menu ul.menu li a { 
  padding-right: 10px;
  font-size: 11px;
  color: #ffffff;
} 

/* User Menu Drop Down */

#user-menu ul.menu li ul {
  position: absolute;
  padding: 10px;
  margin: 1px 0 0 0;
  width: 200px;
  left: -999em;
  z-index: 100;
  line-height: 20px;
  background: url(../images/style4/trans.png);
  border-radius: 5px;
}

#user-menu ul.menu li:hover ul, #user-menu ul.menu li.sfHover ul {
  left: auto;
}

#user-menu ul.menu li li {
  width: 200px;
}

#user-menu ul.menu li li a, #user-menu ul.menu li li a.active {
  width: 200px;
  margin: 0;
  border: 0;
}

#user-menu ul.menu li li a:hover, #user-menu ul.menu li li a.active:hover { 
}

#main-menu ul.menu li ul ul {
  margin: -25px 0 0 200px;
}

#user-menu ul.menu li:hover ul ul, #user-menu ul.menu li.sfHover ul ul, #user-menu ul.menu li:hover ul ul ul, #user-menu ul.menu li.sfHover ul ul ul, #user-menu ul.menu li:hover ul ul ul ul, #user-menu ul.menu li.sfHover ul ul ul ul {
  left: -999em;
}

#user-menu ul.menu li li:hover ul, #user-menu ul.menu li li.sfHover ul, #user-menu ul.menu li li li:hover ul, #user-menu ul.menu li li li.sfHover ul, #user-menu ul.menu li li li li:hover ul, #user-menu ul.menu li li li li.sfHover ul {
  left:auto;
}

#user-menu ul.menu li li.expanded, #user-menu ul.menu li li li.expanded  {
  background: 0;
}


/* MAIN MENU 
--------------------------------------------------------------------------*/

.main-menu-wrapper {
  background: url(../images/style4/main-menu-bg.png) left top repeat-x;
}

#main-menu {
  height: 50px;
  line-height: 50px;
}

#main-menu ul.menu li a {  
  display: block;
  padding: 0 10px;
  font-size: 18px;
  color: #ffffff;
  text-shadow: 1px 1px #111111;
  text-transform: uppercase;
} 


#main-menu ul.menu li a.active { 
  background: #272727;
}
#main-menu .menu.sub-menu .menu.sub-menu li a:hover,
#main-menu .menu.sub-menu .menu.sub-menu li a.active:hover {
  background: #eeeeee;  
} 

/* Main Menu Drop Down */
/*

#main-menu ul.menu li ul:hover{
 display: block;


}

#main-menu ul.menu li ul{
  position: absolute;
  padding: 6px;
  margin: 1px 4px 10px 0;
 left: -999em;
  x-index: 100;
  line-height: 30px;
  background: url(../images/style4/main-menu-second-level-bg.png);
  border-radius: 5px;
}


#main-menu ul.menu li:hover ul, #main-menu ul.menu li.sfHover ul {
  left: auto;
}

#main-menu ul.menu li li {
  width: 200px;
}

#main-menu ul.menu li li a, #main-menu ul.menu li li a.active {
  width: 200px;
  margin: 0;
  font-size: 0.9em;
  border: 0;
}

#main-menu ul.menu li li a:hover, #main-menu ul.menu li li a.active:hover { 
}

#main-menu ul.menu li ul ul {
  margin: -25px 0 0 200px;
}

#main-menu ul.menu li:hover ul ul, #main-menu ul.menu li.sfHover ul ul, #main-menu ul.menu li:hover ul ul ul, #main-menu ul.menu li.sfHover ul ul ul, #main-menu ul.menu li:hover ul ul ul ul, #main-menu ul.menu li.sfHover ul ul ul ul {
  left: -999em;
  width:200%;
}

#main-menu ul.menu li li:hover ul, #main-menu ul.menu li li.sfHover ul, #main-menu ul.menu li li li:hover ul, #main-menu ul.menu li li li.sfHover ul, #main-menu ul.menu li li li li:hover ul, #main-menu ul.menu li li li li.sfHover ul {
  left:auto;
}

#main-menu ul.menu li li.expanded, #main-menu ul.menu li li li.expanded  {
  background: 0;
}


/* MAIN MENU SECOND LEVEL
--------------------------------------------------------------------------*/
/*
.main-menu-second-level-wrapper {
  background: url(../images/style4/main-menu-second-level-bg.png) left top repeat-x;  
  min-height: 10px;
  border-bottom: 1px solid #ffffff; 
}

#main-menu-second-level {
  line-height: 30px;
}

#main-menu-second-level h3 {
  display: none;
} 

#main-menu-second-level ul.menu li a { 
  padding: 0 10px;
  font-size: 12px;
  color: #ffffff;
  text-transform: uppercase;
} 

/* Main Menu Second Level Drop Down */
/*
#main-menu-second-level ul.menu li ul {
  position: absolute;
  padding: 0;
  margin: 1px 0 0 0;
  width: 200px;
  left: -999em;
  z-index: 100;
  background: #f9f9f9;
  border: 1px solid #dddddd;
  box-shadow: 0 1px 3px #ddd;
}

#main-menu-second-level ul.menu li:hover ul, #main-menu-second-level ul.menu li.sfHover ul {
  left: auto;
}

#main-menu-second-level ul.menu li li {
  border-bottom: 1px solid #dddddd; 
}

#main-menu-second-level ul.menu li li.last {
  border-bottom: 0px solid #dddddd; 
}

#main-menu-second-level ul.menu li li a, #main-menu-second-level ul.menu li li a.active {
  width: 160px;
  padding: 0 20px;
  margin: 0;
  font-size: 0.9em;
  border: 0;
  color: #333333;
  text-shadow: 1px 1px #ffffff;
}

#main-menu-second-level ul.menu li li a:hover, #main-menu-second-level ul.menu li li a.active:hover {
  background: #eeeeee;  
}

#main-menu-second-level ul.menu li ul ul {
  margin: -25px 0 0 200px;
}

#main-menu-second-level ul.menu li:hover ul ul, #main-menu-second-level ul.menu li.sfHover ul ul, #main-menu-second-level ul.menu li:hover ul ul ul, #main-menu-second-level ul.menu li.sfHover ul ul ul, #main-menu-second-level ul.menu li:hover ul ul ul ul, #main-menu-second-level ul.menu li.sfHover ul ul ul ul {
  left: -999em;

}

#main-menu-second-level ul.menu li li:hover ul, #main-menu-second-level ul.menu li li.sfHover ul, #main-menu-second-level ul.menu li li li:hover ul, #main-menu-second-level ul.menu li li li.sfHover ul, #main-menu-second-level ul.menu li li li li:hover ul, #main-menu-second-level ul.menu li li li li.sfHover ul {
  left:auto;
}

#main-menu-second-level ul.menu li li.expanded, #main-menu-second-level ul.menu li li li.expanded  {
  background: 0;
}

/* SIDE MENU 
--------------------------------------------------------------------------*/

/* CONTENT TOP & CONTENT BOTTOM
--------------------------------------------------------------------------*/

/* NODES
--------------------------------------------------------------------------*/

.field-name-field-image img {
  float: left;  
  display: block;
  margin-right: 20px;
  margin-bottom: 20px;
}

h1#page-title {
  padding: 20px;
  margin-bottom: 20px;  
  background: url(../images/style4/dark-trans.png);
  border-radius: 5px;
}

h1.title {
  font-size: 32px;
  padding-bottom: 10px;
}

.node .content {
  font-size: 16px;  
  line-height: 23px;
    font-weight: 400;
    font-style: normal;
    font-family: georgia,"times new roman",times,serif;
}

.node .content a{
  color: #7e7e7e; 
   
}

.submitted {
  margin-bottom: 10px;
  font-size: 11px;
  color: #999999;
  text-transform: uppercase;  
}

/* Teasers */

.node-teaser {
  margin-bottom: 20px;  
}

.node-teaser .field-name-field-image img {
  float: left;  
  display: block;
  margin-right: 20px;
  margin-bottom: 0px;
  width: 30%;
  height:inherit;
}

.node-teaser h2.title {
  font-size: 18px;
  margin-bottom: 5px;
}

.node-teaser .submitted {
  margin-bottom: 0px; 
}

.node-teaser .content, .node-teaser .content .field-name-body, .node-teaser .content .field-items, .node-teaser .content .field-item, .node-teaser .content p, .node-teaser .links, .node-teaser .links li {
  display: inline;  
}

.node-teaser .links li a {
  color: #7e7e7e;
  font-size: 11px;
  text-transform: uppercase;
}

.node-teaser .links li a:after {
  content: " >";
}

ul.inline li {
  display: inline;
  padding: 0 10px 0 0;
  list-style-type: none;
}

ul.inline li.comment_forbidden, ul.inline li.comment-add, ul.inline li.comment-comments {
  display: none;  
}

.statistics_counter {
  font-size: 11px;
  text-transform: uppercase;
  color: #666666; 
}

/* COMMENTS
--------------------------------------------------------------------------*/

#comments h2 {
  padding-bottom: 20px; 
}

#comments label {
  font-weight: bold;
  font-size: 11px;
  text-transform: uppercase;
  color: #333333;
  text-shadow: 1px 1px #ffffff;
}

#comments label:after {
  content: ":";
}

.comment {
  margin-bottom: 20px;
  padding: 20px;
  background: #eeeeee;
  border-radius: 5px; 
  color: #555555;
}

.indented .comment {
  background: #e5e5e5;  
}

.comment .user-picture img {
  display: block;
  float: left;
  margin-right: 10px;
  width: 40px;
  height: 40px;
}

.comment .links {
  float: right;
  text-transform: uppercase;
  font-size: 10px;  
}

/* BREADCRUMBS
--------------------------------------------------------------------------*/

/* SEARCH FORM
--------------------------------------------------------------------------*/

.region-search-box {
  float: right; 
}

#search-block-form {
  margin-top: 0x;
  background: 0;
  line-height: 33px;
  background: url(../images/style4/search-box-bg.png) repeat-x;
}

#search-block-form h2, #search-block-form label {
  display: none;
}

#search-block-form  .form-item, #search-block-form  .form-actions {
  margin-bottom: 0em;
  margin-top: 0em;
}

#search-block-form .form-text, #search-block-form .form-submit {
  padding: 0;
  margin: 0;
  border: 0;
  background: 0;
  vertical-align: middle;
}

#search-block-form .form-submit {
  display: inline-block;
  width: auto;
  height: 33px;
  font-size: 0.8em;
  padding: 0 5px;
  border-radius: 0;
  text-transform: uppercase;
  color: #ffffff;
  background: 0;
  font-weight: bold;
  background: 0;
  text-shadow: -1px -1px #111111;
}

#search-block-form .form-text {
  padding: 0 10px;
  width: 200px;
  font-size: 11px;
  color: #ffffff;
  font-style: italic;
  background: 0;
}

#search-block-form input:focus {
  box-shadow: 0 0 0px 0 #22d7cc;
}

/* SOCIAL
--------------------------------------------------------------------------*/

#social {
  float: left;
  padding-left: 10px;
  margin-right: -10px;
  padding-top: 4px;
  margin-bottom: -4px;
}

#social ul {
  padding: 0;
  margin: 0;
}

.social-links li {
  display: block;
  float: left;
  list-style: none;
}

.social-links li a {
  display: inline-block;
  padding-left: 10px;
  width: 16px;
  height: 16px;
}

.facebook {
  background: url(../images/facebook.png) no-repeat;
}

.rss {
  background: url(../images/feed-icon.png) no-repeat;
}

.twitter {
  background: url(../images/twitter.png) no-repeat;
}


/* MISC
--------------------------------------------------------------------------*/

.breadcrumb {
  margin-bottom: 20px;
  margin-left: 2px;
  font-size: 1.0em;
  padding-bottom: 0;
  text-transform: uppercase
}

.breadcrumb a {
  font-weight: bold;
}

.page-node .breadcrumb {
  padding: 10px 20px;
  margin-bottom: 20px;  
  background: url(../images/style4/dark-trans.png);
  border-radius: 5px;
}

.more-link {
  margin-top: 5px;
  font-size: 0.8em;
  text-transform: uppercase;  
}

ul.primary {
  border-bottom: 0 solid #DDDDDD;
  border-collapse: collapse;
  height: auto;
  line-height: 1em;
  list-style: none outside none;
  margin: 5px 0;
  padding: 0 0 20px 3px;
  white-space: nowrap;
}

ul.primary li a {
  background-color: #DDDDDD;
  border-color: #BBBBBB;
  border-radius: 3px 3px 3px 3px;
  border-style: solid;
  border-width: 1px;
  color: #666666;
  height: auto;
  margin-right: 3px;
  padding: 5px 1em;
  text-decoration: none;
}

.profile {
  clear: both;
  margin: 0em 0;
}

.profile .user-picture {
  float: none;
  margin: 0 0em 1em 0;
}

/* QUICKTABS
--------------------------------------------------------------------------*/

body #main-content .quicktabs-wrapper .block {
  border: 0;
  box-shadow: 0px 0px 0px #bbbbbb;  
}

body #main-content .quicktabs-wrapper .block-inner {
  padding: 0px;
  margin-bottom: 0px;
  border: 0px solid #dddddd;
  border-bottom: 0px solid #920000; 
  background: 0;
  box-shadow: 0px 0px 0px #bbbbbb;
}

.quicktabs_main.quicktabs-style-nostyle {
  background-color:#fff;
  border-top:none;
  padding:10px;
  clear:both;
  border-left: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
}

ul.quicktabs-tabs.quicktabs-style-nostyle {
  padding:0 5px 0 0;
  font:bold 12px/19px Verdana !important;
  font-weight:bold;
  height:19px;
  margin:0;
}

ul.quicktabs-tabs.quicktabs-style-nostyle a {
  font-size: 9px;
  font-weight: bold;
  text-decoration:none;
  color:#aaa;
}

ul.quicktabs-tabs.quicktabs-style-nostyle a:hover{
  color:#555;
}

ul.quicktabs-tabs.quicktabs-style-nostyle li {
  border-bottom:none;
  padding:2px 3px;
  margin:0 0px 0 0;
  position:relative;
  background: #dddddd;
}

ul.quicktabs-tabs.quicktabs-style-nostyle li:hover{
  background: #7e7e7e;
  border-bottom:none;
  color: #ffffff;
}

ul.quicktabs-tabs.quicktabs-style-nostyle li:hover a {
  color: #ffffff;
}

ul.quicktabs-tabs.quicktabs-style-nostyle li.active {
  background: #ffffff;
  margin-bottom: -1px;
  border-left: 1px solid #eeeeee;
  border-top: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
}

ul.quicktabs-tabs.quicktabs-style-nostyle li.active a {
  color: #333333;
}

.quicktabs_main.quicktabs-style-nostyle .item-list li span {
  display: inline;
  font-size: 0.8em;
  padding: 0 10px;
}

.quicktabs_main.quicktabs-style-nostyle .content {
  color: #999999;
  padding: 0 0 0 0;
}


/* VIEWS
--------------------------------------------------------------------------*/

.preface-wrapper .views-row {
  margin-bottom: 10px;
  overflow: hidden;
}

.preface-wrapper .views-row a {
  font-size: 12px;
  font-weight: bold;
}

.preface-wrapper .views-row .views-field-field-image img {
  display: block;
  float: left;
  margin-right: 10px;
}

.preface-wrapper .views-row .views-field-title a {
  font-size: 12px;
}

.preface-wrapper .attachment {
  padding: 10px;
  background: #eee;
  border-radius: 5px;
}

.preface-wrapper .attachment .views-row {
  margin-bottom: 0;
  padding: 2px 0;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #ddd;
  background: 0;
  border-radius: 0px;
  box-shadow: 0 0 0px #ddd;
}

.preface-wrapper .attachment .views-row-first {
  border-top: 0px solid #fff;
}

.preface-wrapper .attachment .views-row-last {
  border-bottom: 0px solid #ddd;  
}

.preface-wrapper .attachment .views-row a {
  font-weight: normal;
  font-weight: bold;
  font-size: 12px;
}





/****** responsive  *******/


#mm0 {
  margin-top: 14px; 
  border-radius: 2px;
  border: 0;
}

/** 

Note: Design for a width of 768px

**/

@media only screen and (min-width: 768px) and (max-width: 959px) {

.header-wrapper-inner {
  background: 0;  
}

.header----wrapper .ad {
  width: 725px;
      height: 59px
  
    
}

.page-node .field-name-field-image img {
  width: 448px;
  height: auto; 
}

.page-node .field-name-field-video iframe {
  width: 446px;
  height: 300px;  
}

.node .content img {
  max-width: 448px;
  max-height: auto; 
}

#main-menu ul.menu li a {
  font-size: 12px;  
}

.region-first-ad img, .region-second-ad img {
  width: 236px;
  height: auto;
}
.node .region-content-middle .content img {max-width: 490px;}
/* SLIDESHOW 
--------------------------------------------------------------------------*/

.view-slideshow .views_slideshow_main { 
  height: 230px;
}

.view-slideshow .views-slideshow-cycle-main-frame-row-item {
  position: relative;
  height: 230px;  
}

.view-slideshow .views_slideshow_main .views-field-field-image img, .view-slideshow .views_slideshow_main .views-field-field-video img {
  width: 448px;
  height: 230px;
}

.view-slideshow .views_slideshow_main .views-field-title {
  width: 408px;
}

.view-slideshow .views_slideshow_main .views-field-body {
  width: 408px; 
  font-size: 11px;
}


/* Slideshow controls */

.view-slideshow .views-slideshow-controls-bottom .views-field-field-image img, .view-slideshow .views-slideshow-controls-bottom .views-field-field-video img {
  width: 54px;
  height: 35px;
}

/* Video Featured */

.view-featured-view iframe {
  width: 191px; 
  height: 120px;
}


ul.quicktabs-tabs.quicktabs-style-nostyle li {
}
  
}

/** 
Note: Design for a width of 300px
**/

@media only screen and (max-width: 767px) { 


.view-slideshow .views_slideshow_main .views-field-field-image img, .view-slideshow .views_slideshow_main .views-field-field-video img {
   /*width: 96% !important; */
}

.view-slideshow .views_slideshow_main {
  /*  height: 300px !important; */
   
}

.main-inner.grid_8 {
width: 100% !important;
}

.grid_12 {
    width: 100% !important;
}

.grid_8 .block-inner {
    padding: 5px !important;

}

.hideFeed .block-inner {
  padding: 0px !important;
  border: 0px !important;
}

.container_12 {
width: 100% !important;
}

.grid_4 {
width: 100% !important;
}

.site-logo img {
  width: 100%;
  height: auto; 
}

.header-wrapper-inner {
  background: 0;  
}

.header-wrapper .ad {
  width: 275px;
  height: 34px; 
}

.node-teaser .field-name-field-image img {
  float: none;
  margin: 0 0 20px 0;
  width: 100%;
}

.node-teaser .node-content-wrapper {
  margin-left: 0px;
}

.node-teaser .field-name-field-video iframe {
  float: none;
  width: 256px;
  height: 160px;
  margin: 0 0 20px 0;
}

.page-node .field-name-field-image img {
  width: 100%;
  height: auto; 
}

.page-node .field-name-field-video iframe {
  width: 256px;
  height: 200px;  
}

.node .content img {
 /* max-width: 356px;
  max-height: auto; */
}



#search-block-form .form-text {
  width: 120px;
}

/* SLIDESHOW 
--------------------------------------------------------------------------*/

.social-links li a {
  padding-left: 0px;
  padding-right: 1px;
}

.view-slideshow .views_slideshow_main { 
  height: 133px;
}

.view-slideshow .views-slideshow-cycle-main-frame-row-item {
  height: 133px;  
}

.view-slideshow .views_slideshow_main .views-field-field-image img, .view-slideshow .views_slideshow_main .views-field-field-video img {
  width: 256px;
  height: auto;
}

.view-slideshow .views_slideshow_main .views-field-title {
  width: 216px;
  bottom: 0;
}

.view-slideshow .views_slideshow_main .views-field-body {
  display: none;
}


/* Slideshow controls */

.view-slideshow .views-slideshow-controls-bottom .views-field-field-image img, .view-slideshow .views-slideshow-controls-bottom .views-field-field-video img {
  width: 22px;
  height: 15px;
}

/* Video Featured */

.view-featured-view iframe {
  width: 260px; 
  height: 180px;
}

  
}





/** 
Note: Design for a width of 420px
**/

@media only screen and (min-width: 480px) and (max-width: 767px) {

.grid_12 {
    width: 100% !important;
}
.grid_4 {
width: 100% !important;
}

.header-wrapper-inner {
  background: 0;  
}

.header-wrapper .ad {
  width: 400px;
  height: 50px; 
}

.node .content img {
  /* max-width: 376px; 
  max-height: auto; */
}
  
.node-teaser .field-name-field-image img {
  float: left;
  margin: 0 20px 0 0;
  width: 100%;
}


.node-teaser .field-name-field-video iframe {
  float: none;
  width: 376px;
  height: 220px;
  margin: 0 0 20px 0;
}

.page-node .field-name-field-image img {
  width: 100%;
  height: auto; 
}

.page-node .field-name-field-video iframe {
  width: 376px;
  height: 300px;  
}


/* SLIDESHOW 
--------------------------------------------------------------------------*/

.view-slideshow .views_slideshow_main { 
  height: 195px;
}

.view-slideshow .views-slideshow-cycle-main-frame-row-item {
  height: 195px;  
}

.view-slideshow .views_slideshow_main .views-field-field-image img, .view-slideshow .views_slideshow_main .views-field-field-video img {
  width: 376px;
  height: auto;
}

.view-slideshow .views_slideshow_main .views-field-field-image img {
   display: block;
   height: 195px;
}

.view-slideshow .views_slideshow_main .views-field-title {
  width: 336px;
  padding-bottom: 20px;
  bottom: 0;
}

.view-slideshow .views_slideshow_main .views-field-body {
}


/* Slideshow controls */

.view-slideshow .views-slideshow-controls-bottom .views-field-field-image img, .view-slideshow .views-slideshow-controls-bottom .views-field-field-video img {
  width: 42px;
  height: 25px;
}

/* Video Featured */

.view-featured-view iframe {
  width: 380px; 
  height: 220px;
}

}

.node-teaser .field-name-field-video iframe {
  display: block;
  float: left;
  margin: 0 20px 0 0;
}



/* custom css*/
#block-aggregator-feed-1 .content a, #block-aggregator-feed-2 .content a, #block-aggregator-feed-4 .content a {
   color: #444444;
     font-size: 14px;
     font-weight: normal;
}
.region.region-preface-5 .content img {
   width: 940px;
   height: auto;
}

#main-menu ul.menu li ul.menu {
  width: 100%;
  display: none;
  left: 0;
  /*padding-left: 13%;*/ 
}
#main-menu ul.menu li ul.menu.sub-menu li.first{padding-left: 13%;}
#main-menu ul.menu li ul.menu.sub-menu li ul.menu.sub-menu li.first{padding:0px !important;}
#main-menu ul.menu li ul.menu li a {
  padding-left: 10px;
  padding-right: 10px;
}
#main-menu ul.menu li ul.menu li ul.menu{
  display:none;
 padding-left: 10px;
  margin-left: 4px;
  width: 14%;
  height: 270px;
  padding-top: 0px;
  margin-top: 0px;
  background: #f9f9f9;
  border: 1px solid #dddddd;
  box-shadow: 0 1px 3px #ddd;
}
#main-menu ul.menu li ul.menu li ul.menu li a {
  color: #333333;
  text-shadow: 1px 1px #ffffff;
  border-bottom: 1px solid #dddddd;
}
.region.region-sidebar-second .block-inner .content p{
  height:509px;
}
.region-content-middle img{ width: 620px !important; height: 72px;}
.region-content-middle .content p{padding: 0}
#main-content .region-content-middle .block-inner{padding: 0;border: none;height:72px;}
/** Responsive Styles **/
@media only screen and (min-width: 768px) and (max-width:1024px){
  .region.region-sidebar-second .block-inner .content p{
    width:100%;
    height:513px;
  }
}
@media only screen and (min-width: 768px){
  .region-preface-5 {
    margin-left: 10px !important;
    margin-right: 10px !important;
  }
}
@media only screen and (max-width: 767px) {
    .region.region-preface-5 .content img {
      width:100%;
      height: auto;
      max-width:100%;
    }     
}

@media only screen and (min-width: 768px) and (max-width:1024px){
  .region.region-preface-5 .content img {
      max-width:100%;
      }    
}

@media only screen and (min-width: 300px) and (max-width: 767px) {
  #ad_groups_125 span img{
    width:100%;
    max-width:100%;
  }
  #ad_groups_126 span img{
    width:100%;
    max-width:100%;
  }
   #ad_groups_128 span img{
      width:100%;
      max-width:100%;
  }
}
/** Header Ad Banner **/
@media only screen and (min-width: 768px) and (max-width:1023px){
  .header-wrapper .header-wrapper-inner .ad{
     width: 424px;
  }
  .site-logo img{
    padding-right: 0;
  }
} 
@media only screen and (min-width: 768px) and (max-width:1023px){
  #main-menu ul.menu li ul.menu.sub-menu li.first{padding-left:0;}
  #main-menu ul.menu li ul.menu.sub-menu ,
  #main-menu ul.menu li ul.menu.sub-menu li ul.menu.sub-menu{display: none;}
}
@media only screen and (min-width:1024px) and (max-width:1100px){
    #main-menu ul.menu li ul.menu.sub-menu li.first{padding-left:4%;} 
    #main-menu ul.menu li ul.menu.sub-menu ,
  #main-menu ul.menu li ul.menu.sub-menu li ul.menu.sub-menu{display: none;}

.region-highlighted #block-block-1.block .content { background:none; border:none; padding:0; -webkit-box-shadow: none;  -moz-box-shadow:none;  box-shadow:none; }
